/*<!--Sección para manejar el css-->
    <!--body:Selectores de etiqueta-->
    <!--#"nombre": Selector de id-->
    <!--."nombre": Selector de clase-->*/

/* "*": Selecciona todos los selectores propios del html*/
*{
    margin: 0px;
    padding: 0px; /*Margen interior dentro de una caja*/
}

body{
    background: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: lightblue;
    height: 100px; /*Altura*/
    width: 100%; /*Ancho*/
    text-align: center; /*Centrado horizontal del texto*/
    line-height: 100px;/*Centrado vertical del texto*/
}

nav{
    background: lightcoral;
    height: 50px;
    border: 1px solid black;
}

nav ul li{
    float: left; /*Que todos los elementos floten a la izquierda*/
    list-style: none;/*Quitando el estilo por defento de la lista*/
    margin: 15px;
    line-height: 15px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background:orange;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
}

footer{
    background:black;
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

#container{
    /*width: 70%*/
    width: 1100px;
    margin: 0px auto;/*Centra el contenido lo más que pueda*/
    border: 1px solid green;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: green;
    padding: 40px;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    padding-top: 5px;
    border-top: 1px solid #eee;
}

.article h2{
    font-size: 30px;
}

.clearfix{
    clear: both; /*Cuando se flota un elemento los de abajo se quedan en su sitio*/
}


/*SECCIÓN JACK*/
#banner{
    display: flex;
    width: 98%;
    height: 10%;
    border: 1px solid red;
    padding: auto;
    margin: auto;
    box-shadow: 0 0 0 5px #fff,
                0 15px 50px;
}

.corredor{
    width: 42%;
    height: 260px;
    padding: 0px;
    margin: 20px;

    /*Acomodar el gráfico*/
    animation: corredor 15s infinite;/*nombre tiempo repeticiones*/

}

@keyframes corredor {
    0%,30%{
        background: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/detalles-web-asiento.jpg);    
        background-size: 100% 100%;
    }
    35%,65%{
        background-image: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/detalles-web-pantalla.jpg);
        background-size: 100% 100%;
    }
    70%,100%{
        background-image: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/detalles-web-motor.jpg);
        background-size: 100% 100%;
    }
    
}

.texto{
    text-align:center; /*Centrado horizontal del texto*/
    width: 370px;
    height: 260px;
    border: 1px solid red;
    padding: 0px;
    margin: 20px;
}

.texto h4{
    text-align: left; /*Centrado horizontal del texto*/
    color: black;
    padding-left: 10px;
}
.texto p{
    text-align: left; /*Centrado horizontal del texto*/
    color: white;
    padding: 10px;
}