/*<!--Sección para manejar el css-->
    <!--body:Selectores de etiqueta-->
    <!--#"nombre": Selector de id-->
    <!--."nombre": Selector de clase-->*/

/* "*": Selecciona todos los selectores propios del html*/
*{
    margin: 0px;
    padding: 0px; /*Margen interior dentro de una caja*/
}

body{
    background: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 200px; /*Altura*/
    width: auto; /*Ancho*/
}
.imagenfondo{
    position:absolute;
    height: 200px;
    width: 1100px;
    object-fit: none;
}
.logo{
    position:absolute;
    top:50px;
    height: 100px;
    width: 1100px;
    object-fit:scale-down;
}

nav{
    background-color: black;
    font-size: 20px;
    height: 50px;
    border: 1px solid black;
    text-decoration: none;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: flex;
    justify-content: space-around;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
nav ul li{
    float: left; /*Que todos los elementos floten a la izquierda*/
    list-style: none;/*Quitando el estilo por defento de la lista*/
    margin: 15px;
    line-height: 15px;
}

aside{
    float: left;
    width: 200px;
    background:orange;
    position: absolute;
    right: 125px;
    min-height: 1080px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
}

footer{
    background:black;
    color: white;
    padding-top:40px;
    height: auto;
    width: 100vw;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
}
.socials a:hover i{
    color:aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding:20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
}
#container{
    /*width: 70%*/
    width: 1100px;
    margin: 0px auto;/*Centra el contenido lo más que pueda*/
    border: 1px solid green;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: url(https://storage.googleapis.com/sspe-blnc-rscs/00000CD7/es-PE/images/banners/img_backgroung_principal.jpg);
    padding: 40px;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    padding-top: 5px;
    border-top: 1px solid #eee;
}

.article h2{
    font-size: 30px;
}

.clearfix{
    clear: both; /*Cuando se flota un elemento los de abajo se quedan en su sitio*/
}

/*SECCIÓN JIMMY*/
#descripcion{
    display: inline-flex;
    width: 98%;
    height: 10%;
    border: 1px solid red;
    padding: auto;
    margin: auto;
    box-shadow: 0 0 0 5px #fff,
                0 15px 50px;
}

.MT-03{
    width: 42%;
    height: 260px;
    padding: 0px;
    margin: 20px;

    background: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/Color-1-MT03-2023-min.png);    
    background-size: 100% 100%;    
}

/*SECCIÓN JACK*/
#banner{
    display: flex;
    width: 98%;
    height: 10%;
    border: 1px solid red;
    padding: auto;
    margin: auto;
    box-shadow: 0 0 0 5px #fff,
                0 15px 50px;
}

.corredor{
    width: 42%;
    height: 260px;
    padding: 0px;
    margin: 20px;

    /*Acomodar el gráfico*/
    animation: corredor 15s infinite;/*nombre tiempo repeticiones*/
}

@keyframes corredor {
    0%,30%{
        background: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/detalles-web-asiento.jpg);    
        background-size: 100% 100%;
    }
    35%,65%{
        background-image: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/detalles-web-pantalla.jpg);
        background-size: 100% 100%;
    }
    70%,100%{
        background-image: url(https://storage.googleapis.com/sspe-appv20-resources/yamaha-motor.com.pe/images/jpg/MT-03/detalles-web-motor.jpg);
        background-size: 100% 100%;
    }
    
}

.texto{
    text-align:center; /*Centrado horizontal del texto*/
    width: 370px;
    height: 260px;
    border: 1px solid red;
    padding: 0px;
    margin: 20px;
}

.texto h4{
    text-align: left; /*Centrado horizontal del texto*/
    color: black;
    padding-left: 10px;
}
.texto p{
    text-align: left; /*Centrado horizontal del texto*/
    color: white;
    padding: 10px;
}